.container {
    margin-top: 30px;
}

.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); /* Нежная тень */
    border-radius: 8px;
}

.card-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    padding: 15px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #495057;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
}

.card-body {
    padding: 20px;
    display: flex;          /* Включаем Flexbox */
    justify-content: center;
}

.form-label {
    font-weight: 500;
    color: #495057;
}

.form-control {
    border: 1px solid #ced4da;
    border-radius: 6px;
    padding: 10px 12px;
    font-size: 1rem;
    color: #495057;
}

.form-control:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Подсветка при фокусе */
}

.is-invalid {
    border-color: #dc3545;
}

.invalid-feedback {
    color: #dc3545;
    font-size: 0.875rem;
    margin-top: 5px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    padding: 12px 18px;
    font-size: 1.1rem;
    border-radius: 6px;
}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.card-footer {
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
    padding: 15px;
    text-align: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.card-footer a {
    color: #007bff;
    text-decoration: none;
}

.card-footer a:hover {
    text-decoration: underline;
}

.mb-3{
    margin: 17px;
}